@import 'ember-paper';
@import "ember-paper-config";
@import "loading-indicator";
$court-cell-width: 40px;
$court-cell-height: 40px;
$court-cell-border-color: #404040;

body {
  max-width: 100%;
  max-height: 100%;
  flex-direction: row;
  flex: 1;
  display: flex;
}

body > .ember-view {
  width: 100%;
}

.page-content {
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
}

label {
  font-weight: bold;
}

.validation-error {
  color: #d50000;
  font-size: 12px;
}

md-sidenav.md-sidenav-left {
  width: 200px;

  md-toolbar .md-toolbar-tools {
    margin-top: 15px;
    max-height: 100px;
    height: 100px;
  }
}

.alert {
  position: absolute;
  left: 50%;
  border: 1px solid;
  padding: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  color: white;

  &.alert-success {
    background-color: color($primary, '500');
    border-color: color($primary, '800');

    .alert-progress {
      background-color: color($primary, '300');
    }
  }

  &.alert-error {
    background-color: color($warn, '500');
    border-color: color($warn, '800');
  }

  .alert-progress {
    height: 3px;
    margin-top: 10px;

    .alert-progressBar {}
  }
}

.timepicker {
  md-dialog-content {
    margin-left: auto;
    margin-right: auto;
  }

  .arrow {
    width: 35px;
    cursor: pointer;
  }

  .time-number {
    text-align: center;
  }

  .layout-column ~ .layout-column {
    margin-left: 40px;
  }
}

.flatpickr-calendar {
  .flatpickr-day.endRange,
  .flatpickr-day.endRange.nextMonthDay,
  .flatpickr-day.endRange.prevMonthDay,
  .flatpickr-day.endRange:focus,
  .flatpickr-day.endRange:hover,
  .flatpickr-day.selected,
  .flatpickr-day.selected.nextMonthDay,
  .flatpickr-day.selected.prevMonthDay,
  .flatpickr-day.selected:focus,
  .flatpickr-day.selected:hover,
  .flatpickr-day.startRange,
  .flatpickr-day.startRange.nextMonthDay,
  .flatpickr-day.startRange.prevMonthDay,
  .flatpickr-day.startRange:focus,
  .flatpickr-day.startRange:hover {
    background: color($primary, '500');
    border-color: color($primary, '400');
  }
}

.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowTop:before {
  border-bottom-color: transparent;
}

.calendar-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.hint {
  color: lighten($dark-contrast-color, 50);
}

.logo {
  font-size: 54px;
  font-weight: 500;
  width: 100%;
  height: 100%;

  img {
    width: 35px;
    position: absolute;
    bottom: 60px;
    z-index: 999;
  }

  div {
    font-weight: bold;
    margin-top: -20px;
  }
}

.page-header {
  height: 115px;
  background-color: #3f51b5;
  color: white;
}

.tab-workaround {
  margin-left: auto;
  margin-right: auto;

  & * {
    text-transform: none;
  }
}

.menu-item,
.submenu-item {
  min-height: 40px;

  &.active,
  &:hover {
    background-color: rgba(158, 158, 158, 0.1);
  }
}

.new-booking {
  & > .flex {
    margin-bottom: 15px;
  }

  .value {
    color: lighten($dark-contrast-color, 30);
  }

  .notifications-hint {
    margin: 0;
  }

  .duration {}
}

.loading-overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.29);
  z-index: 999;

  md-progress-circular {
    top: calc(50% - 96px/2);
    left: calc(50% - 96px/2);
  }
}

.tm-bookings-overview {
  .initial-booking-loading {
    width: 100%;

    md-progress-circular {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .not-logged-warning {
    width: 100%;
    background-color: color($primary, '700');
    color: white;
    text-align: center;
  }

  .week-control-panel {
    width: 100%;
    position: relative;

    .date-navigation {
      margin-left: 80px;
    }

    .week-title {
      vertical-align: middle;
    }

    .updated-date {
      display: inline-block;
      right: 0;
      position: absolute;
      bottom: 0;
      color: lighten(#000, 46%);

      & * {
        vertical-align: middle;
      }

      span {
        font-size: 10px;
      }
    }

    .jump-to-today {
      display: inline-block;
      right: 0;
      position: absolute;
      top: 0;

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .booking-row {
    width: 100%;
  }

  .court-info-popup {
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

    & > div {
      margin-bottom: 5px;
    }

    label {
      font-weight: bold;
    }

    &.visible {
      display: inline-block;
    }
  }

  .timetable {
    & > md-card {
      margin-bottom: 15px;
      padding-bottom: 5px;
      padding-right: 20px;
    }

    .court-timetable-hours {
      .court-cell.hour-cell {
        border: none;
        height: calc(#{$court-cell-height}/2);
      }

      .hour-label {
        margin-left: calc(#{$court-cell-width}/4 * -1 - 5px);
        font-size: 13px;
      }
    }

    .timetable-courts {
      display: inline-block;

      .court-cell {
        width: $court-cell-width;
        height: $court-cell-height;
        cursor: pointer;
        box-sizing: border-box;
        display: inline-block;
        border-right: 1px solid $court-cell-border-color;
        border-bottom: 1px solid $court-cell-border-color;

        .half-cell {
          width: 50%;
          height: 100%;
          float: left;
        }

        &.old-hour {
          background-color: rgba(0, 0, 0, 0.2);
          cursor: default;
        }

        &.old-hour + .court-cell:not(.old-hour) {
          box-shadow: 0 0 23px 2px color($accent, '700');
          background-color: color($accent, '300');
        }

        &.full-reserved .half-cell {
          @extend .reserved-cell;
        }

        &.half-start-reserved .half-cell:nth-child(2) {
          @extend .reserved-cell;
        }

        &.half-end-reserved .half-cell:nth-child(1) {
          @extend .reserved-cell;
        }

        &.first-row {
          border-top: 1px solid $court-cell-border-color;
        }

        &.first-column {
          border-left: 1px solid $court-cell-border-color;
        }
      }
    }

    .court-number {
      font-weight: bold;
      line-height: $court-cell-height;
      width: 70px;
      text-align: center;
    }
  }
}

.booking-search {
  margin-left: 20px;
  width: 100%;

  .flatpickr-calendar {}

  md-input-container {
    margin: 0;
  }

  .action-panel {
    text-align: center;
    margin-top: 20px;
  }

  .no-available-bookings {
    color: color($warn, '700');
  }

  .search-result-panel {
    & > .layout-column {
      width: 100%;
    }

    .available-date {
      margin-top: 15px;
    }

    .result-row:nth-child(2n) {
      background-color: rgba(158, 158, 158, 0.2);
    }
  }
}

.reserved-cell {
  color: white;
  background: repeating-linear-gradient( -55deg, #666 1px, #777 2px, #777 11px, #666 12px, #666 20px );
}

.tm-login {
  height: 100%;

  .login-form {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .login-error {
    color: color($warn, '700');
  }

  .forgot-password {
    font-size: 10px;
  }

  .login-loader {
    display: inline-block;
    vertical-align: middle;
  }

  md-input-container {
    margin: 0;
  }
}
