<div class="layout-column flex login-form">
    <div class="flex">
        <label>Prihlasovacie meno (email)</label>
        <div>{{paper-input value=identification required=true type="email" onChange=(action (mut identification)) errorMessages=(hash required="Zadajte prihlasovacie meno.")}} </div>
    </div>
    <div class="flex">
        <label>Heslo</label>
        <div>{{paper-input type="password" value=password required=true onChange=(action (mut password)) errorMessages=(hash required="Zadajte heslo.")}} </div>
    </div>

    <div class="flex">
        {{#paper-button raised=true primary=true onClick=(action 'login') disabled=loginInProgress}}Prihlásiť{{/paper-button}}
        {{#if loginInProgress}} {{paper-progress-circular class="login-loader"}} {{/if}}

        <span class="flex login-error">
            {{#if loginErrorMessage}}
                {{loginErrorMessage}}
            {{/if}}
        </span>
    </div>
    <div class="flex forgot-password">
        {{#paper-button onClick=(action 'forgotPassword')}}Zabudli ste heslo?{{/paper-button}}
    </div>

</div>
