<div class="tab-workaround">
    {{#paper-button raised=true onClick=(action 'transitionTo' 'bookings.overview')}}Prehľad{{/paper-button}}
    {{#paper-button raised=true onClick=(action 'transitionTo' 'bookings.search')}}Vyhľadávanie{{/paper-button}}
</div>

{{outlet}}
