{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="page-content">
  {{#paper-sidenav-container class="inner-sidenav" }}

    {{#paper-sidenav class="md-whiteframe-z2" name="left" open=leftSideBarOpen onToggle=(action (mut leftSideBarOpen)) }}
      {{#paper-toolbar as |toolbar|}}

        {{#paper-toolbar-tools}}
          {{#link-to 'bookings.overview' class="logo layout-column layout-align-center-center" }}
            <img src="/logo.svg">
            <div>Bookie</div>
          {{/link-to}}
        {{/paper-toolbar-tools}}

      {{/paper-toolbar}}
      {{#paper-content padding=true}}
        {{#menu-item active=(is-route-active 'bookings.overview' currentRouteName) onClick=(action 'transitionTo' 'bookings.overview')}}Rozvrh{{/menu-item}}
        {{#menu-item active=(is-route-active 'bookings.search' currentRouteName) onClick=(action 'transitionTo' 'bookings.search')}}Vyhľadávanie{{/menu-item}}

    {{/paper-content}}
    {{/paper-sidenav}}
    {{#paper-card-content class="flex" }}
      <div class="page-header">
      {{partial 'partials/top-toolbar'}}
      </div>
      <div class="layout-fill layout-align-start-start layout-column">
        {{outlet}}

      </div>
    {{/paper-card-content}}
  {{/paper-sidenav-container}}
</div>
